<h2>About</h2>
<div class="p-wrap">
  <figure class="quote">
    <blockquote>To the (person) who is seeking the sanction of life in poetry, the namby-pamby is an intolerable dissipation."</blockquote>
    <figcaption>Wallace Stevens</figcaption>
  </figure>
<p>RIVERBED is an online journal of poetry.</p>
<p>Conceived during the summer of 2016 by musician/poet Niilo Smeds and poet Ronald Dzerigian, RIVERBED is intended to provide a venue for voices that take risks, are unafraid of stillness, and stand their ground amidst the fray.</p>
</div>