<h2>Contact Us</h2>
<p>If you'd like to drop us a note about the magazine, website or anything else, you can do so below. To have your work considered for publication, {{#link-to "menu.submit"}}click Submit{{/link-to}}.</p>