  <header id="header">
    {{#link-to "index"}}
    <h1>Riverbed</h1>
    {{/link-to}}
    <h4>Autumn 2016 | Vol. 1, No. 1</h4>
  </header>
  <nav class="nav">
    <ul id="nav-menu-ul" class="nav-ul">
      {{#link-to "menu.submit"}}<li>Submit</li>{{/link-to}}
      {{#link-to "menu.subscribe"}}<li>Subscribe</li>{{/link-to}}
      {{#link-to "menu.back-issues"}}<li class="li-hide">Back Issues</li>{{/link-to}}
      {{#link-to "menu.about"}}<li>About</li>{{/link-to}}
      {{#link-to "menu.contact"}}<li>Contact</li>{{/link-to}}
    </ul>
  </nav>
  {{liquid-outlet}}
  <footer class="bg-blend">
    <h6>2016 Riverbed. All rights reserved.</h6>
  </footer>